<tr>
  <td> <a href="/products/<%=product.id%>"><%= product.id %></a> </td>
  <td> <%= product.name %> </td>
  <td> <%= product.brand %> </td>
  <td> <%= product.model %> </td>
  <td> <%= product.ram %> </td>
  <td> <%= product.external_storage %> </td>
</tr>