<table>
  <thead>
    <tr>
	  <th colspan=2> Product Details </th>
	</tr>
  </thead>

  <tbody>
   	<tr>
	  <td> ID </td>
	  <td> <%= @product.id %> </td>
	</tr>
	<tr>
	  <td> Name </td>
	  <td> <%= @product.name %> </td>
	</tr>
	<tr>
	  <td> Brand </td>
	  <td> <%= @product.brand %> </td>
	</tr>
	<tr>
	  <td> Model </td>
	  <td> <%= @product.model %> </td>
	</tr>
	<tr>
	  <td> External Storage </td>
	  <td> <%= @product.external_storage %> </td>
	</tr>
  </tbody>
</table>