<!DOCTYPE html>
<html>
  <head>
    <title>ProductBrowsingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <% if session[:user_id] %>
        <a class="button" href="/logout"> Logout </a>
      <% end %>
      <h1 style="text-align:center"> DTS Product Browser </h1>
      
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
